@media screen and (max-width: 767px) {

    .header-desktop,
    .main-desktop,
    .discount-offer-banner-container,
    .bell-icon {
        display: none !important;
    }

    .mobile-header {
        width: 100%;
        position: fixed;
        z-index: 999;
        inset: 0;
    }

    .mb-header-wrapper {
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
    }

    .mb-back-icon-container {
        display: inline-block;
    }

    .mb-back-icon-container svg {
        width: 24px;
        height: 24px;
        margin: 16px;
        display: inline-block;
    }

    .mb-header-logo-container {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 16px 16px 16px -3px;
        vertical-align: top;
    }

    .mb-header-title-container {
        display: inline-block;
        vertical-align: top;
        top: 11px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: calc(100% - 260px);
        left: -3.42px;
    }

    .mb-header-title-text-leader {
        font-size: 16px;
        color: var(--mb-text-color-grey);
        font-family: var(--font-bold);
        display: inline-block;
    }

    .mb-header-title-text-follower {
        display: inline-block;
        font-size: 12px;
        color: var(--mb-text-color-grey);
    }

    .mb-header-right {
        display: inline-block;
        float: right;
    }

    .mb-header-right-icon {
        display: inline-block;
        float: left;
        width: 24px;
        height: 24px;
        position: relative;
        top: 1px;
        vertical-align: top;
        height: 22px;
        margin: 15px 16px 16px 0;
    }

    .mb-header-plus-icon {
        height: 22px;
        margin-top: 17px;
    }

}