:root {
    --font-regular: "Assistant-Regular";
    --font-bold: "Assistant-Bold";
    --text-color-black: #282c3f;
    --text-color-grey: #696b79;
}

@font-face {
    font-family: "Assistant-Regular";
    src: url("../assets/fonts/Assistant-Regular.woff");
}

@font-face {
    font-family: "Assistant-Bold";
    src: url("../assets/fonts/Assistant-Bold.woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-regular);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
}

.header-wrapper {
    margin: auto;
    min-width: 980px;
    line-height: 80px;
}

.header-logo-container {
    float: left;
    height: inherit;
    margin-left: 4%;
    line-height: 80px;
}

.header-logo-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-position: -462px 0;
    background-size: 1404px 105px;
    width: 53px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    line-height: 80px;
}

.nav-desktop {
    margin: 0 0 0 1%;
    display: block;
    float: left;
    line-height: 80px;
    height: 80px;
}

.nav-wrapper {
    display: inline-block;
    float: left;
    line-height: 80px;
}

.nav-item-container {
    float: left;
    border: hidden;
    text-align: center;
}

.nav-item-text-wrapper {
    display: inline;
    text-align: center;
}

.nav-item-text {
    padding: 0 17px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    border-bottom: none;
    transition: left .2s ease-out, width .2s ease-out;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--font-bold);
}

.header-right {
    display: flex;
    line-height: 0;
    height: 40px;
    margin: 20px 0 0 10px;
    float: right;
    line-height: 0;
}

.profile-container {
    position: relative;
    height: 60px;
    margin: 0 20px 0 15px;
}

.profile-wrapper {
    padding: 0 12px 0 17px;
    position: relative;
    display: flex;
    height: 40px;
}

.profile-user-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -298px -56px;
    width: 24px;
    height: 24px;
    margin: 10px 0 0;
    position: absolute;
    bottom: 13px;
    left: 5px;
    display: block;
}

.header-right-text {
    font-family: var(--font-bold);
    position: absolute;
    bottom: 4px;
    left: 1px;
    font-size: 12px;
    display: inline-block;
    padding-top: 10px;
    line-height: 6px;
}

.wishlist-container {
    margin: 0 55px 0 10px;
    display: flex;
    position: relative;
}

.wishlist-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -315px -187px;
    width: 17px;
    height: 22px;
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
    display: inline-block;
    left: 13px;
}

.bag-container {
    margin: 0 50px 0 15px;
    display: flex;
    position: relative;
}

.bag-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-position: -341px -56px;
    left: -1px;
    margin: 8px 0 0;
    position: absolute;
    bottom: 14px;
}

.search-container {
    width: 320px;
    float: right;
    line-height: 0;
    position: relative;
    margin: 20px 8px 20px 40px;
}

.search-container input {
    width: 95%;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 24px;
    color: #696e79;
    box-sizing: content-box;
    padding: 8px 10px 10px;
    margin: 0;
    outline: 0;
    border: 1px solid #f5f5f6;
    border-radius: 0 4px 4px 0;
    border-left: 0;
    background: #f5f5f6;
}

.search-icon-container {
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    width: 40px;
    text-align: center;
    padding: 8px 0 2px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
    border-right: none;
    border-radius: 4px 0 0 4px;
    position: absolute;
    left: -41px;
}

.search-icon {
    display: inline-block;
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -754px 0;
    text-align: center;
    width: 21px;
    height: 21px;
    transform: scale(0.7);
}

.studio-new-text {
    margin: 0 0 34px -15px;
    font-size: 10px;
    text-align: left;
    color: #ff3f6c;
}

.studio-new-text sup {
    display: inline-block;
    margin-left: -1px;
    text-align: left;
    top: -6.4px;
    font-size: 100%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    text-transform: uppercase;
    font-family: var(--font-bold);
    height: 100%;
}

.main-desktop {
    min-height: 750px;
    margin-top: -2px;
}

.main-wrapper {
    margin: 81px auto 0;
    max-width: 1600px;
}

.main-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.main-heading-wrapper {
    vertical-align: top;
    padding: 20px 0 0;
}

.main-heading-items {
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 25px;
    vertical-align: top;
    padding-left: 0;
}

.main-heading-item {
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    line-height: 1;
    color: #282c3f;
}

.extra-styler {
    margin-left: -3px;
}

.slash-predecesor::after {
    font-size: 14px;
    content: "/";
    margin-left: 5px;
    color: #282c3f;
}

.main-heading-item-bold {
    font-family: var(--font-bold);
}

.type-info-title-container {
    margin: 10px 0 5px 25px;
    display: flex;
    align-items: center;
    max-width: 1000px;
    overflow: hidden;
    transform: translate(0, 2px);
}

.type-info-title-container p {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-family: var(--font-bold);
}

.type-info-title-container span {
    color: #878b94;
    white-space: pre-wrap;
}

.sidebar {
    flex: 1 1 0%;
    min-width: 252px;
    max-width: 252px;
    flex-grow: 0;
}

.sidebar-wrapper {
    margin-top: 0;
    padding-top: 23px;
}

.sidebar-filters-container {
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    position: relative;
    border-right: none;
    padding-top: 0;
    margin-top: 2px;
}

.sidebar-filter-text {
    font-family: var(--font-bold)
}

.sidebar-filter-item-container {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: 1px solid #e9e9ed;
    border-right: 1px solid #edebef;
}

.sidebar-categories-container {
    position: relative;
}

.sidebar-filter-heading {
    font-family: var(--font-bold);
    text-transform: uppercase;
    font-size: 14px;
    margin: 0 0 18px;
    clear: both;
    color: #282c3f;
    display: block;
}

.filter-list-item-wrapper {
    margin: 0;
    padding-left: 0;
}

.filter-list-item {
    font-size: 14px;
    margin-bottom: 7px;
}

.filter-list-item:last-child {
    margin-bottom: 0;
}

.sidebar-items-label {
    display: block;
    width: 95%;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 17px;
    color: #282c3f;
    position: relative;
}

.filter-checkbox {
    margin: 0 16px 0 0;
    visibility: hidden;
}

.sidebar-item-count {
    color: #94969f;
    font-size: 11px;
    margin-left: 1px;
}

.sidebar-checkbox-styler {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #c3c2c9;
    background: #fff;
    border-radius: 2px;
}

.sidebar-checkbox-styler::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 1;
    width: 8px;
    height: 5px;
    border-color: #fff;
    border-style: none none solid solid;
    border-width: 2px;
    transform: rotate(-45deg);
}

.sidebar-brand-container {
    position: relative;
}

.sidebar-filter-search-container {
    position: absolute;
    top: 12px;
    right: 14px;
    width: 30px;
    height: 30px;
    background-color: #f5f5f6;
    border-radius: 50%;
}

.sidebar-filter-search-icon {
    background: url(https://constant.myntassets.com/web/assets/img/MyntraWebSprite_27_01_2021.png);
    background-size: 1404px 105px;
    background-position: -754px 0;
    width: 21px;
    height: 21px;
    position: absolute;
    right: 4px;
    top: 4px;
    transform: scale(.7);
    display: inline-block;
}

.sidebar-view-more-text {
    margin-top: 10px;
    font-size: 15px;
    color: #ff3f6c;
    margin-left: 27px
}

.sidebar-price-slider-container {
    height: 36px;
    background-color: mistyrose;
}

.sidebar-color-container {
    position: relative;
}

.color-wheel {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    margin-left: 27px;
    background-color: rgb(54, 69, 79);
    vertical-align: top;
}

.sidebar-color-count {
    margin-left: 4px;
}

.filter-list-color-text {
    color: black;
}

.sidebar-radio-styler {
    border-radius: 50%;
}

.color-label-styler {
    color: black;
}