@media screen and (max-width: 767px) {

    .header-desktop,
    .main-desktop,
    .discount-offer-banner-container,
    .bell-icon {
        display: none !important;
    }

    .header-mobile,
    .main-mobile {
        display: block !important;
    }

    .header-mobile {
        width: 100%;
        position: fixed;
        z-index: 999;
        inset: 0;
        height: max-content;
    }

    .mb-header-wrapper {
        width: 100%;
        box-shadow: 0 1px 2px 0 rgba(148, 150, 159, 0.3);
    }

    .mb-back-icon-container {
        display: inline-block;
    }

    .mb-back-icon-container svg {
        width: 24px;
        height: 24px;
        margin: 16px;
        display: inline-block;
        vertical-align: top;
    }

    .mb-header-logo-container {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 16px 16px 16px -3px;
        vertical-align: top;
    }

    .mb-header-title-container {
        display: inline-block;
        vertical-align: top;
        top: 11px;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        width: calc(100% - 260px);
        left: -3.42px;
    }

    .mb-header-title-text-leader {
        font-size: 16px;
        color: var(--mb-text-color-grey);
        font-family: var(--font-bold);
        display: inline-block;
    }

    .mb-header-title-text-follower {
        display: inline-block;
        font-size: 12px;
        color: var(--mb-text-color-grey);
    }

    .mb-header-right {
        display: inline-block;
        float: right;
    }

    .mb-header-right-icon {
        display: inline-block;
        float: left;
        width: 24px;
        height: 24px;
        position: relative;
        top: 1px;
        vertical-align: top;
        margin: 15px 16px 16px 0;
    }

    .mb-header-plus-icon {
        height: 22px;
        margin-top: 17px;
    }

    .main-mobile {
        width: 100%;
    }

    .mb-main-wrapper {
        width: 100%;
        padding-top: 56px;
        line-height: 1.42857143;
    }

    .mb-discount-banner {
        width: 100%;
        padding: 12px 6px;
        background-image: linear-gradient(90deg, #bd6da6, #d799cb);
    }

    .mb-discount-text-container {
        font-size: 12px;
        text-align: center;
    }

    .mb-discount-text-leader {
        font-family: var(--font-bold);
        color: white;
    }

    .mb-discount-text-follower {
        color: white;
    }

    .mb-bottom-nav {
        background-color: white;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid #eaeaec;
        z-index: 599;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 1.42857143;
    }

    .mb-bottom-nav-item {
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        line-height: 1.4444;
    }

    .mb-bottom-nav-left {
        border-right: 1px solid #eaeaec
    }

    .mb-bottom-nav-item-container {
        position: relative;
        overflow: hidden;
    }

    .mb-bottom-nav-item-text-container {
        width: 100%;
        height: 50px;
        padding: 14px 0 14px 28px;
        font-size: 14px;
        letter-spacing: 0.917px;
        color: #535766;
        line-height: 1.5;
        display: inline-block;
        font-family: var(--font-bold);
        vertical-align: middle;
        border: 1px solid transparent;
    }

    .mb-bottom-nav-item-text-container svg {
        top: 16px;
        left: 10%;
        width: 16px;
        height: 16px;
        position: absolute;
    }

    .mb-card-layout-container {
        width: 100%;
    }

    .mb-card-layout-wrapper {
        padding: 0;
        margin: 0;
    }

    .mb-card {
        width: 50%;
        margin: 0;
        border-bottom: 0.5px solid #d4d5d9;
        float: left;
        overflow: hidden;
    }

    .mb-card:nth-child(1),
    .mb-card:nth-child(2) {
        border-top: 1px solid #d4d5d9;
    }

    .mb-card:nth-child(odd) {
        border-right: 1px solid #d4d5d9;
    }

    .mb-card-wrapper {
        position: relative;
        text-align: center;
        overflow: hidden;
    }

    .mb-card-image-container {
        height: 255px;
        position: relative;
        background: rgb(255, 237, 243);
    }

    .mb-card-image-container img {
        width: 100%;
        height: 255px;
        object-fit: cover;
    }

    .mb-card-ratings-container {
        position: absolute;
        height: 18px;
        margin: -28px 0 0 11px;
        border: 1px solid #eaeaec;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 5px;
        border-radius: 9px;
    }

    .mb-rating-text {
        font-size: 10px;
        font-family: var(--font-bold);
    }

    .mb-rating-star-icon {
        font-size: 9px;
        padding: 3px;
        background-image: url(https://constant.myntassets.com/pwa/assets/img/2bce8a2b-e1d5-465a-8980-62f3d778377c1548353615799-Fill-90-Copy-7.png);
        background-size: cover;
        position: relative;
        margin: 0 6px 0 4px;
    }

    .mb-ratings-separator {
        font-size: 13px;
        color: rgb(148, 150, 159);
    }

    .mb-rating-count {
        font-size: 10px;
        margin-left: 5px;
        font-family: var(--font-bold);
    }

    .mb-product-info-container {
        position: relative;
    }

    .mb-product-text-container {
        padding: 8px 0;
    }

    .mb-card-product-brand {
        padding-left: 8px;
        line-height: 1.57;
        text-align: left;
        font-family: var(--font-bold);
        color: #282c3f;
        font-size: 13px;
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .mb-card-product-desc {
        opacity: .6;
        padding-left: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 180px;
        font-size: 11px;
        line-height: 1.1;
        font-weight: 400;
        text-align: left;
        color: #282c3f;
        height: 12px;
    }

    .mb-price-container {
        margin-top: -1px;
        padding-left: 6px;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin-bottom: 16.5px;
    }

    .mb-product-price {
        font-size: 13px;
    }

    .mb-product-price svg {
        position: relative;
        top: 3.5px;
        overflow: hidden;
    }

    .mb-price-text {
        font-family: var(--font-bold);
        position: relative;
        left: -2px;
    }

    .mb-product-original-price {
        font-size: 13px;
        opacity: .4;
        text-decoration: line-through;
    }

    .mb-product-original-price svg {
        position: relative;
        top: 0.5px;
    }

    .mb-original-price-text {
        position: relative;
        left: 0.5px;
    }

    .mb-discount-text {
        color: #ff905a;
        font-size: 11px;
        white-space: nowrap;
        font-family: var(--font-bold);
        position: relative;
        left: 2.5px;
        line-height: 15.7143px
    }

    .mb-wishlist-container {
        display: inline-block;
        position: absolute;
        bottom: 43px;
        right: 0;
        top: 2px;
        padding-top: 4px;
        padding-left: 15px;
        height: 38px;
    }
}